{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bienvenido a Frikr - Como Flikr, pero en friki {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.theme.min.css' %}" rel="stylesheet"/>

</head>
<body>

    <nav>
        <a href="{% url 'photos_home' %}">Home</a>
        |
        <a href="{% url 'list_photo' %}">Listado de fotos</a>
        |
        {% if user.is_authenticated %}
            <a href="{% url 'user_photos' %}">Mis fotos</a>
            |
            <a href="{% url 'create_photo' %}">Crear foto</a>
            |
            <a href="{% url 'users_logout' %}">Salir</a>
        {% else %}
            <a href="{% url 'users_login' %}">Login</a>
        {% endif %}
    </nav>

    <hr>

    <section>
        {% block section %}

        {% endblock %}
    </section>

    <hr>

    <footer>
        <small>Frikr Inc &copy; All rights reserved</small>
    </footer>

</body>
</html>