{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block section %}

{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <div>
        <button>Entrar</button>
    </div>
</form>

{% endblock %}