{% extends 'base.html' %}

{% block title %} Detalle de foto - {{ photo.name }} {% endblock %}

{% block section %}
    <h1>{{ photo.name }}</h1>
    <img src="{{ photo.url }}" alt="{{ photo.name }}" width="300">
    <p>{{ photo.description }}</p>
    <p>
        <strong>Author:</strong> {{ photo.owner.first_name }} {{ photo.owner.last_name }}
    </p>
{% endblock %}