{% extends 'base.html' %}

{% block section %}
    <h1>Bienvenido a Frikr</h1>
    <p>Frikr es como Flikr pero en friki</p>

    {% if photos_list|length > 0 %}
        <h2>Últimas fotos publicadas</h2>
        {% include 'photos/photos_loop.html' %}
    {% else %}
        <p>¡Sé el primero en publicar una foto!</p>
    {% endif %}
{% endblock %}